<h1>Pages#score</h1>

<p>You scored: <%= @result[:score] %></p>
<p>This is <%= @result[:message] %></p>
<p>Total time is: <%= @result[:time] %></p>
<p>grid is: <%= @grid %></p>
<p>grid is: <%= @input %></p>
<%= link_to "play again", game_path %>
